* {
  box-sizing: border-box;
}

body {
  font-family: tahoma;
}

nav a {
  margin-right: 5px;
}

/*
  TERMINAL
*/
.terminal {
  background-color: black;
  color: white;
  padding: 10px;
}

/*
  LOADING
*/
.loading > div {
  padding: 10px;
}
.loading {
  background-color: #feffc0;
  color: #545409;
  border-left: 5px solid #ddde7c;
  max-height: 60px;            
  overflow-y: hidden;
  transition: max-height 0.5s ease-in-out;
}

.loading[off] {
  max-height: 0;
}

/*
  FORMS
*/
puz-form-field {
  display: block;
  margin-bottom: 20px;
}

puz-form-label {
  display: block;
  margin-bottom: 5px;
}

puz-form-input input {
  width: 100%;
  font-size: 100%;
  padding: 5px;
}

puz-form-label:after {
  content: ':';
}

puz-form-label {
  font-weight: bold;
}

/*
  BUTTONS
*/
puz-form-actions button {
  padding: 10px 20px;
  font-size: 100%;
  border: 1px solid black;
  font-weight: 600;
}

puz-form-actions button.primary:hover {
  background-color: #2d7511;
}
puz-form-actions button.primary {
  background-color: #449e1f;
  color: white;
  cursor: pointer;
}
